header
    width: 100%
    display: flex
    max-height: 80px
    color: var(--text-dark)
    background: var(--bg-white)
.navbar
    display: flex
    padding: 5px 10px
    align-items: center
.navbar-logo
    max-width: 300px
.navbar-menu
    display: flex
    list-style: none
    color: var(--text-grey)
.active
    color: var(--text-dark)