/* Modal */
.modal
    display: none
    position: absolute
    z-index: 999
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: var(--bg-white)
    transition: .3s
.open
    display: block
.close
    position: absolute
    top: auto
    right: auto
    left: 46%
    bottom: 0
    background: var(--text-dark)
    color: var(--text-white)
    border: none
    padding: 20px 45px
    border-radius: 15px 15px 0 0
    font-size: 14px