body
    /* Text Colors */
    --text-white: #{$white}
    --text-dark: #{$black}
    /* Bacground Colors */
    --bg-white: #{$white}
    --bg-dark: #{$blue-black}
    /* Body Style */
    background: var(--bg-white)
/* Mode Dark Theme Style */
.dark
    --text-white: #{$black}
    --text-dark: #{$white}
    --bg-white: #{$blue-black}